body,html {
  height: 100%;
  margin: 0;
}

.bg{
	background-color: #809EE5;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#oswaldFont div{
  font-family: 'Oswald', sans-serif;
}
